<% if @communities.any? %>
  <% @communities.each do |community| %>
    <div class="card p-3 mt-5">
      <h3>
        <strong><%= link_to community.name, community, class: "text-decoration-none" %></strong>
      </h3>
      <%= simple_format community.rules %>
    </div>
  <% end %>
<% else %>
  <div class="text-center mt-5">
    <p class="text-muted">No communities to display.</p>
  </div>
<% end %>

<% if account_signed_in? %>
  <div class="d-flex justify-content-end mt-4">
    <%= link_to "Create new Community", new_community_path, class: "btn btn-primary" %>
  </div>
<% end %>
