<div class="row mt-5">
  <div class="col-sm-8">
  <%= render partial: "posts/list", locals: { posts: @posts } %>
  </div>
  <div class="col-sm-4">
    <p class="h4"><%= @profile.full_name %></p>
    <p><%= @profile.username %></p>
    <p class="text-muted"><small>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum neque dolore ab saepe sequi amet, veniam officia a quia blanditiis repellendus dolores sit ipsam sunt explicabo sint aliquid non labore praesentium! Obcaecati incidunt perferendis tempora blanditiis debitis. Aperiam hic architecto assumenda voluptatibus iste, ducimus accusamus ratione doloribus illum quidem.
    </small></p>
    <p>Cake day: <%= @profile.created_at.strftime("%d, %m, %Y") %></p>
  </div>
</div>