<footer class="navbar navbar-light bg-light fixed-bottom">
  <div class="container d-flex justify-content-center align-items-center" style="height: 25px;">  
    <p class="text-black m-0 text-center" style="font-size: 0.75rem;">
      Running on Rails 8... because, why not? | Made by Sumit Jha
    </p>
  </div>
</footer>
