<footer class="navbar navbar-expand-lg navbar-dark bg-light fixed-bottom">
  <div class="d-flex justify-content-center align-items-center">
    <p class="text-light m-0">Running on Rails 8... because, why not? | Made by Sumit Jha</p>
  </div>
</footer>
